@tailwind base;
@tailwind components;
@tailwind utilities;

.v-enter-active,
.v-leave-active {
    transition: opacity 1s;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

main{

}
.marker-bg{
    background-color: rgb(215, 215, 215);
}
.marker-bg i{
    color: rgb(30, 115, 190);
}
